$largeDesktop-width: 1640px;
$desktop-width: 1128px;
$smallDesktop-width: 1199px;
$tablet-width: 991px;
$phone-width: 769px;
$smallPhone-width: 575px;

$white: #ffffff;
$black: #121212;
$yellow: #ffb81f;
